li {
  list-style: none;
}

.name-card {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.boy-name {
  background-color: #08227e;
  color: white;
}

.girl-name {
  background-color: #45f0df;
  color: #171a15;
}
