.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 50%;
  margin: 0 auto;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 184px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 9px;
  right: 188px;
  width: 12px;
  cursor: pointer;
}

.search:hover,
.search:focus {
  border: 1px solid #41d4c6;
  background-color: white;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
