.App {
  padding: 6rem;
  max-width: 800px;
  margin: 4rem auto;
  background-color: rgb(253, 253, 253);
  box-shadow: 4px 1px 18px -4px rgba(128, 128, 128, 0.39);
  border-radius: 20px;
  text-align: center;
  border: 5px solid;
  border-color: #35b4a7 #3951aa;
  border-radius: 10px;
}

.name-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
}

h3 {
  color: #35b4a7;
}
