.app {
  padding: 3rem;
  max-width: 800px;
  margin: 2rem auto;
  border: 3px solid rgb(44, 247, 236);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}

.baby-name-search {
  padding: 0.5rem;
  width: 12rem;
}
